@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes borderAnimation {
  0% {
    border-left-width: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
  }
  25% {
    border-left-width: 10px;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
  }
  50% {
    border-left-width: 10px;
    border-top-width: 10px;
    border-right-width: 0;
    border-bottom-width: 0;
  }
  75% {
    border-left-width: 10px;
    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 0;
  }
  100% {
    border-left-width: 10px;
    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
  }
}

.border-animate {
  border-style: solid;
  border-color: #3498db; /* Adjust the color as needed */
  animation: borderAnimation 2s linear infinite;
}
